:host {
  display: block;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

.bg {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    90deg,
    #f4f1ef 0%,
    #f4f1ef 48%,
    #f6e7dc 70%,
    #f5c8a8 100%
  );
}

.card {
  width: 500px;

  background: #f7f7f7;

  border-radius: 20px;

  padding: 35px 0 40px;

  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.12),
    0 3px 8px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  margin: 0 0 35px;

  font-size: 28px;
  font-weight: 400;

  color: #222;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin-bottom: 25px;
}

.field label {
  font-size: 18px;
  color: #222;

  margin-bottom: 10px;

  font-size: 25;
}

.input {
  font-size: 15;
  width: 400px;
  height: 40px;

  border: none;
  outline: none;

  background: #e9e9e9;

  border-radius: 23px;

  padding: 0 18px;

  box-sizing: border-box;
}

.btn {
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
  font-size: 25;

  width: 220px;
  height: 45px;

  margin-top: 15px;

  border: none;
  border-radius: 24px;

  background: #FF6B00;

  color: white;

  cursor: pointer;
}

.error {
  margin-bottom: 15px;
  color: #d32f2f;
}