<div class="bg">
  <div class="card">

    <h2>Inicie sesión como administrador</h2>

    <div class="field">
      <label>Correo electronico</label>
      <input
        class="input"
        type="email"
        [(ngModel)]="email">
    </div>

    <div class="field">
      <label>Contraseña</label>
      <input
        class="input"
        type="password"
        [(ngModel)]="password">
    </div>

    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <button
      class="btn"
      (click)="login()">
      Iniciar Sesion
    </button>

  </div>
</div>