<div class="dialog-container">
  <h2 class="dialog-title">Registrar cirugía</h2>
  <span class="mascota">{{ data.nombreMascota }}</span>
  <!-- FECHA -->
  <mat-form-field appearance="fill" class="campo">
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="fecha"
      [max]="maxDate"
      placeholder="Fecha"
      readonly>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <!-- DESCRIPCIÓN -->
  <mat-form-field appearance="fill" class="campo-textarea" >
    <textarea
        matInput
        [(ngModel)]="descripcion"
        placeholder="Descripción">
    </textarea>
  </mat-form-field>
  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  <div class="buttons">
    <button class="btn-cancel" (click)="close()">
      Cancelar
    </button>
    <button class="btn-save" (click)="save()">
      Guardar
    </button>
  </div>
</div>