<div class="cita-modal">

  <h2>Nueva cita</h2>

  <!-- Mascota -->
  <div class="mascota-row">

    <mat-form-field appearance="fill" class="campo mascota">

      <mat-select
        [(ngModel)]="form.mascota_FK"
        placeholder="Mascota">

        <mat-option
          *ngFor="let m of mascotas"
          [value]="m.idMascota" style="font-family: 'Nunito', sans-serif; font-size: 18px;">

          {{ m.name }}

        </mat-option>

      </mat-select>

    </mat-form-field>

  </div>

  <!-- Motivo / Fecha -->

  <div class="fila">

    <mat-form-field appearance="fill" class="campo mitad">

      <mat-select
        [(ngModel)]="form.typeCita_FK"
        placeholder="Motivo">

        <mat-option
          *ngFor="let t of tipos"
          [value]="t.idTypeCita" style="font-family: 'Nunito', sans-serif; font-size: 18px;">

          {{ t.type }}

        </mat-option>

      </mat-select>

    </mat-form-field>

    <mat-form-field appearance="fill" class="campo mitad">

      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="form.date"
        [min]="minDate"
        placeholder="Fecha"
        readonly>

      <mat-datepicker-toggle
        matSuffix
        [for]="picker">
      </mat-datepicker-toggle>

      <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>

  </div>

  <p class="error" *ngIf="error">
    {{ error }}
  </p>

  <div class="acciones">

    <button
      class="btn-cancelar"
      (click)="close()">
      Cancelar
    </button>

    <button
      class="btn-guardar"
      (click)="save()">
      Guardar
    </button>

  </div>

</div>