/* You can add global styles to this file, and also import other style files */

html, body { height: max; }
body { margin: 0; font-family: "Nunito", sans-serif; }

.logout-dialog .mat-mdc-dialog-container{
  --mdc-dialog-container-shape: 22px;
  --mdc-dialog-container-color: white;
}

.logout-dialog .mat-mdc-dialog-surface{
  padding:0;
  overflow:hidden;
}