nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  position: relative;
}
.nav-links {
  display: flex;
  gap: 40px;
}
.nav-links a {
  font-size: 25px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  color: #2d2d2d;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-icon {
  display: none;
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.nav-links a.active {
  color: #FF6B00;
  border-bottom: 2px solid #FF6B00;
}
.user-btn {
  position: absolute;
  right: 32px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: #2d2d2d;
}
.material-icons {
  font-size: 32px;
}

//movil
@media (max-width: 600px) {
  .nav-text {
    display: none;
  }

  .icon-inactive {
    display: block;
  }

  .icon-active {
    display: none;
  }

  a.active .icon-inactive {
    display: none;
  }

  a.active .icon-active {
    display: block;
  }
}